<div>
  <h1 style="text-align:center">
    Bienvenido a {{title}}!
  </h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <!-- State -->
        <p-dataTable [value]="states" selectionMode="single" [(selection)]="selectedState" (onRowSelect)="onRowSelectState($event)" [responsive]="true">
            <p-header>Estados</p-header>
            <p-column field="label" header="Estado" ></p-column>
            <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAddState()" label="Add"></button></div></p-footer>
        </p-dataTable>

        <p-dialog header="Cambio de estado" [(visible)]="displayDialogState" [responsive]="true" showEffect="fade" [modal]="true">
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="state">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4"><label for="state">Estado</label> </div>
              <div class="ui-grid-col-8"><input pInputText id="state" [(ngModel)]="state.value" /></div>
            </div>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa-close" (click)="deleteState()" label="Borrar"></button>
              <button type="button" pButton icon="fa-check" (click)="saveState()" label="Guardar"></button>
            </div>
          </div>
        </p-dialog>
        <!-- State -->
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <!-- State changes -->
        <p-dataTable [value]="stateChanges" selectionMode="single" [(selection)]="selectedStateChange" (onRowSelect)="onRowSelect($event)" [responsive]="true">
          <p-header>Maquina de Estados</p-header>
          <p-column field="state" header="Estado" ></p-column>
          <p-column field="input" header="Entrada" ></p-column>
          <p-column field="nextState" header="Estado Siguiente" ></p-column>
          <p-column field="output" header="Salida" ></p-column>
          <p-footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAddStateChange()" label="Add"></button></div></p-footer>
        </p-dataTable>
        
        <p-dialog header="Cambio de estado" [(visible)]="displayDialogStateChange" [responsive]="true" showEffect="fade" [modal]="true">
          <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="stateChange">
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="state">Estado</label> </div>
                  <div class="ui-grid-col-8"><p-dropdown id="state" [options]="states" [(ngModel)]="stateChange.state"></p-dropdown></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="input">Entrada</label> </div>
                  <div class="ui-grid-col-8"><p-dropdown id="input" [options]="inputs" [(ngModel)]="stateChange.input"></p-dropdown></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="nextState">Siguiente Estado</label> </div>
                  <div class="ui-grid-col-8"><p-dropdown  id="nextState" [options]="states" [(ngModel)]="stateChange.nextState"></p-dropdown></div>
              </div>
              <div class="ui-grid-row">
                  <div class="ui-grid-col-4"><label for="output">Salida</label> </div>
                  <div class="ui-grid-col-8"><p-dropdown  id="output" [options]="outputs" [(ngModel)]="stateChange.output"></p-dropdown></div>
              </div>
              <div class="ui-dialog-buttonpane ui-helper-clearfix">
                  <button type="button" pButton icon="fa-close" (click)="deleteStateChange()" label="Borrar"></button>
                  <button type="button" pButton icon="fa-check" (click)="saveStateChange()" label="Guardar"></button>
              </div>
          </div>
        </p-dialog>

        <table class="table table-bordered">
          <thead>
            <tr>
              <ng-template ngFor let-item [ngForOf]="states" let-i="index">
                  <th scope="col">Q{{i}}</th>
              </ng-template>
              <ng-template ngFor let-item [ngForOf]="inputs" let-i="index">
                  <th scope="col">E{{i}}</th>
              </ng-template>
              <ng-template ngFor let-item [ngForOf]="states" let-i="index">
                  <th scope="col">D{{i}}</th>
              </ng-template>
              <ng-template ngFor let-item [ngForOf]="outputs" let-i="index">
                  <th scope="col">S{{i}}</th>
              </ng-template>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="stateChanges" let-i="index">
              <tr>
                <ng-template ngFor let-item2 [ngForOf]="item.stateBits" let-i="index">
                  <td>{{item2}}</td>
                </ng-template>
                <ng-template ngFor let-item2 [ngForOf]="item.inputBits" let-i="index">
                    <td>{{item2}}</td>
                </ng-template>
                <ng-template ngFor let-item2 [ngForOf]="item.nextStateBits" let-i="index">
                    <td>{{item2}}</td>
                </ng-template>
                <ng-template ngFor let-item2 [ngForOf]="item.outputBits" let-i="index">
                    <td>{{item2}}</td>
                </ng-template>
              </tr>
            </ng-template>
          </tbody>
        </table>
        <!-- State changes -->

      </div>
      <div class="col-2">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="draw()">Diagrama</button>
        <app-diagram-editor
        [model]="model"
        (nodeSelected)="showDetails($event)"
        (modelChanged)="onModelChanged($event)">
        </app-diagram-editor>
        <form *ngIf="node" #form="ngForm" (ngSubmit)="onCommitDetails()">
          Node Details:
          <div><label>Key: </label>{{node.key}}</div>
          <div><label>Text: </label><input [(ngModel)]="data.text" name="text"></div>
          <div><label>Color: </label><input [(ngModel)]="data.color" name="color"></div>
          <div><label>Location: </label>{{node.location.x.toFixed(2)}}, {{node.location.y.toFixed(2)}}</div>
          <div><label># Links: </label>{{node.linksConnected.count}}</div>
          <button type="submit">Commit Details</button>
          <button (click)="onCancelChanges()">Cancel Changes</button>
        </form>
      </div>
    </div>
  
  </div>



  
</div>
